.card-container {
    background-color: dimgrey;
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.card-media {
    background-color: darkorchid;
    width: 350px;
    height: 200px;
    /* padding: 20px; */
    /* margin-top: 30px; */
    /* bottom: 20px; */
    margin: 20px 0 20px 0;
    position: relative;

}

.card-content {
    background-color: red;
    position: relative;
    width: 350px;
    height: 100px;
    margin: 10px 0 0 10px;
    /* margin: auto; */

}